h1{
	color: white;
	text-align : center;
	background : #25CCF7;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1;
	padding-top: 20px;
	padding-bottom: 20px;
}

body{
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

.squares{
	width: 30%;
	background: purple;
	padding-top: 30%;
	float: left;
	margin: 1.66%;
	border-top-left-radius: 30%;
	border-bottom-right-radius: 30%; 
	transition: background 1s;
	border-top: 2px solid yellow;
	border-bottom: 2px solid yellow;
}

#container{
	max-width: 600px;
	margin: 20px auto;
}


#stripe{
	background : white;
	height: 30px;
	text-align : center;
}

.selected{
	color: white;
	background-color: #25CCF7;
}

#colordisplay{
	font-size: 180%;
}

button{
	border : none;
	background :none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 2px;
	font-size: inherit;
	transition: all 0.5s;
	outline: none;
}

button:hover{
	color: white;
	background-color: steelblue;
}

#message{
	display: inline-block;
	width: 15%;
}